@import './../../styles/partner/<!--partnerName--settings-->';

.c-app {
  text-align: center;
}

  .c-app__header {
    background-color: #222;
    height: 150px;
    padding: 20px;
    color: white;
    background-color: $background-color;
  }

  .c-app__title {
    font-size: 1.5em;
  }

  .c-app__color-name {
    display: inline-block;
    vertical-align: top;
  }

  .c-app__color {
    height: 50px;
    width: 50px;
    display: inline-block;
    margin-right: 50px;
    margin-left: 50px;
  }

    .c-app__color--primary {
      background: $primary-color;
    }

    .c-app__color--secondary {
      background: $secondary-color;
    }
